<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/5f4f6134-6daa-4fc1-a62d-19b1fe4b2952/resourceGroups/1/providers/Microsoft.ContainerRegistry/registries/RecentlyAddedShowsWeb20210814230125</ResourceId>
    <ResourceName>RecentlyAddedShowsWeb20210814230125</ResourceName>
    <ResourceGroup>1</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://recentlyaddedshowsweb20210814230125.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>