@model IEnumerable<Show>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Recently Added Shows</h1>
</div>

@foreach (var item in Model)
{
<p>@item.Type - @item.Name</p>
}
