@model IEnumerable<Show>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Recently Added Shows</h1>
</div>


<h2 class="center">Cartoons</h2>

<table class="table table-striped table-bordered center">
    <tr>
        <th class="thead-dark">Name</th>
    </tr>
    @foreach (var item in Model.Where(x => x.Type == RecentlyAddedShows.ShowType.Cartoon.ToString()).OrderBy(x => x.Name))
    {
    <tr>
        <td>@item.Name</td>
    </tr>
    }
</table>

<br />

<h2 class="center">Anime</h2>

<table class="table table-striped table-bordered center">
    <tr>
        <th class="thead-dark">Name</th>
    </tr>
    @foreach (var item in Model.Where(x => x.Type == RecentlyAddedShows.ShowType.Anime.ToString()).OrderBy(x => x.Name))
    {
    <tr>
        <td>@item.Name</td>
    </tr>
    }
</table>
