@model RecentlyAddedModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="headline" class="display-4">Recently Added Shows</h1>
</div>

<table class="table table-striped table-bordered center">
    <tr>
        <th class="thead-dark">Name</th>
    </tr>
    @foreach (var item in Model.Shows.OrderByDescending(x => x.Type).ThenBy(x => x.Name))
    {
        <tr>
            <td id="item">
                <a id="headline" href="@item.Url">@if (item.IsUpdated)
                                              {
                                                  <strong>NEW - </strong>
                                              }
                    @item.Name 
                </a>
                
                <span id="summary"></span> 
                <p id="date">@item.Type - Updated @Model.TranslatedLastUpdated</p>
            </td>
        </tr>
    }
</table>

