<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/5f4f6134-6daa-4fc1-a62d-19b1fe4b2952/resourcegroups/Automated-Discord-UK/providers/Microsoft.ContainerRegistry/registries/AutomatedSeleniumWebContainerRegistry</ContainerResourceId>
    <ContainerResourceName>AutomatedSeleniumWebContainerRegistry</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>automatedseleniumwebcontainerregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://automatedseleniumweb.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/5f4f6134-6daa-4fc1-a62d-19b1fe4b2952/resourcegroups/Automated-Discord-UK/providers/Microsoft.Web/sites/AutomatedSeleniumWeb</ResourceId>
    <ResourceGroup>Automated-Discord-UK</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://automatedseleniumweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cc3f0be3-1e89-4ba0-8370-11bb889f84c2</ProjectGuid>
  </PropertyGroup>
</Project>